@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
.feature-content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.feature-content__wrapper {
  text-align: center;
}
.feature-content__title {
  color: #cbb8a7;
  font-family: "PT Serif";
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 18px;
  padding-bottom: 2rem;
}
.feature-content__caption {
  font-family: "Courgette";
  font-size: 38px;
  text-align: center;
  padding-bottom: 2rem;
}
.feature-content__cards {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
}
.feature-content__card--caption {
  font-family: "Courgette";
  font-size: 20px;
  text-align: center;
  margin: 2rem;
}
.feature-content__card--img {
  width: 400px;
  height: 300px;
  position: relative;
  cursor: pointer;
  transition: all 0.6s;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.feature-content__card--img:hover {
  transform: scale(1.08);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.feature-content__card--img img {
  width: 100%;
  height: 100%;
}
.feature-content__card--img .border {
  display: block;
  position: absolute;
  width: 380px;
  height: 280px;
  border: 3px solid white;
  margin: 0.6rem;
  top: 0%;
}

.about-content {
  background-color: #f1f0ee;
  height: auto;
  width: 100%;
}
.about-content__wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: row;
}
.about-content__title {
  color: #cbb8a7;
  font-family: "PT Serif";
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 5rem 0 2rem 2rem;
}
.about-content__caption {
  font-family: "Courgette";
  font-size: 38px;
  padding-bottom: 2rem;
  padding-left: 2rem;
}
.about-content__description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #928B84;
  padding-bottom: 3rem;
  padding-left: 2rem;
}
.about-content__vector-img {
  padding-bottom: 2rem;
  padding-left: 2rem;
}
.about-content__btn {
  color: white;
  background-color: #a3ad6f;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  padding: 20px 25px;
  margin-left: 2rem;
  cursor: pointer;
  transition: 0.6s;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.gallery-content {
  background-color: #f1f0ee;
  height: auto;
  width: 100%;
}
.gallery-content__wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: row;
}
.gallery-content__bg-img {
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.gallery-content__title {
  color: #cbb8a7;
  font-family: "PT Serif";
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 18px;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-top: 8rem;
}
.gallery-content__caption {
  font-family: "Courgette";
  font-size: 38px;
  padding-bottom: 3rem;
  padding-left: 2rem;
}
.gallery-content__vector-img {
  padding-bottom: 2rem;
  padding-left: 2rem;
}
.gallery-content__description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #928B84;
  padding-left: 2rem;
  padding-bottom: 3rem;
}
.gallery-content__btn {
  color: white;
  background-color: #a3ad6f;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  margin-left: 2rem;
  padding: 20px 25px;
}

.image-grid {
  padding: 12px;
}

.image-row {
  display: flex;
}

.image-row .image {
  margin: 12px;
  height: 240px;
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15), 0 6px 20px rgba(0, 0, 0, 0.7);
}

.image-01 {
  background-image: url("../assets/aboutUsSlider/6.png");
  flex: 1;
}

.image-02 {
  background-image: url("../assets/aboutUsSlider/2.png");
  flex: 1;
}

.image-03 {
  background-image: url("../assets/aboutUsSlider/3.png");
  flex: 2;
}

.image-04 {
  background-image: url("../assets/aboutUsSlider/4.png");
  flex: 1;
}

.image-05 {
  background-image: url("../assets/headerSlider/2.png");
  flex: 2;
}

.image-06 {
  background-image: url("../assets/headerSlider/1.png");
  flex: 2;
}

.image-07 {
  background-image: url("../assets/aboutUsSlider/5.png");
  flex: 1;
}

.image-08 {
  background-image: url("../assets/headerSlider/3.png");
  flex: 3;
}

.image-09 {
  background-image: url("../assets/aboutUsSlider/7.png");
  flex: 1;
}

.image-10 {
  background-image: url("../assets/headerSlider/4.png");
  flex: 1;
}

.image-11 {
  background-image: url("../assets/aboutUsSlider/9.png");
  flex: 1;
}

.image-12 {
  background-image: url("../assets/aboutUsSlider/8.png");
  flex: 1;
}

.gallery__head {
  color: white;
  font-size: 3rem;
  text-align: center;
  font-family: "Courgette";
  margin-bottom: 0.5rem;
}

.gallery_subhead {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: "Courgette";
  opacity: 0.8;
}

.form-content {
  background-image: url("../assets/contact_form-bg.jpg");
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
}
.form-content__title {
  color: #cbb8a7;
  font-family: "PT Serif";
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  font-size: 18px;
  padding-bottom: 2rem;
}
.form-content__caption {
  font-family: "Courgette";
  font-size: 38px;
  padding-bottom: 2rem;
}
.form-content__btn {
  color: white;
  background-color: #a3ad6f;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
}
.form-content__wrapper input {
  display: inline-block;
  outline: none;
  border: none;
  border-bottom: 1px solid #98928b;
  background-color: transparent;
  margin-right: 2rem;
}
.form-content__wrapper textarea {
  display: inline-block;
  outline: none;
  border: none;
  border-bottom: 1px solid #98928b;
  background-color: transparent;
  margin-right: 2rem;
}
.form-content__wrapper label {
  color: #98928b;
}

.form__table {
  text-align: left;
  padding-bottom: 3rem;
  margin-top: 3rem;
  margin-left: 32.5rem;
}

.feature-content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.feature-content__wrapper {
  text-align: center;
}
.feature-content__title {
  color: #cbb8a7;
  font-family: "PT Serif";
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 18px;
  padding-bottom: 2rem;
}
.feature-content__caption {
  font-family: "Courgette";
  font-size: 38px;
  text-align: center;
  padding-bottom: 2rem;
}
.feature-content__cards {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
}
.feature-content__card--caption {
  font-family: "Courgette";
  font-size: 20px;
  text-align: center;
  margin: 2rem;
}
.feature-content__card--img {
  width: 400px;
  height: 300px;
  position: relative;
  cursor: pointer;
  transition: all 0.6s;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.feature-content__card--img:hover {
  transform: scale(1.08);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.feature-content__card--img img {
  width: 100%;
  height: 100%;
}
.feature-content__card--img .border {
  display: block;
  position: absolute;
  width: 380px;
  height: 280px;
  border: 3px solid white;
  margin: 0.6rem;
  top: 0%;
}

@media (max-width: 820px) {
  .contact__details__home {
    display: none;
  }
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.contact__details__home {
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact__num {
  height: 15vh;
  width: 33.3%;
  display: flex;
}

.mian__logo {
  height: 100%;
  width: 33.3%;
}

.main__logo__img {
  height: 100%;
  width: auto;
  margin-left: 30%;
}

.event__dec {
  height: auto;
  width: auto;
}

.mian__event__detials {
  height: 100%;
  width: 33.3%;
  display: flex;
  gap: 2rem;
}

.events__happend,
.event__location {
  height: inherit;
  width: auto;
  display: flex;
  margin-top: 2.5rem;
}

.event__plus {
  font-size: 1.5rem;
}

.dec__event__main {
  margin-left: 0.3rem;
}

.eventlocation {
  height: 5rem;
  width: auto;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.navbar {
  height: 5rem;
  width: 100%;
  background-color: #a3ad6f;
  display: flex;
  justify-content: space-around;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: 50%;
}

li {
  list-style: none;
  margin-top: 1.6rem;
}

a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.contact_cont {
  height: inherit;
  width: 50%;
  padding-top: 8%;
  display: flex;
}

.contact_cont h3 {
  font-size: 2rem;
}

.callnow_cont {
  height: inherit;
  width: 50%;
  margin-top: 8.5%;
}

.call_now_img {
  height: 5rem;
  width: auto;
  margin-left: 30%;
  margin-right: 1rem;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.nav-links {
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #6d76f7;
  color: white;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media (max-width: 960px) {
  .navbar {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    color: black;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: #cbb8a7;
    border-radius: 0;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }
  .nav-links-mobile:hover {
    background: #fff;
    color: #6568f4;
    transition: 250ms;
  }
}
@media only screen and (max-width: 600px) {
  .contact__num {
    display: none;
  }
  .mian__logo {
    margin-left: 24%;
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 800, "GRAD" 0, "opsz" 48;
}

.header__cont {
  position: relative;
  height: 80vh;
  width: 100%;
  background-image: url("../assets/header-bg.jpg");
  background-size: cover;
  background-position: 0 -10rem;
}

@-webkit-keyframes animatebg {
  0%, 100% {
    background-image: url("../assets/header-bg.jpg");
  }
  16% {
    background-image: url("../assets/headerSlider/3.png");
  }
  32% {
    background-image: url("../assets/headerSlider/2.png");
  }
  48% {
    background-image: url("../assets/headerSlider/4.png");
  }
  64% {
    background-image: url("../assets/headerSlider/1.png");
  }
  80% {
    background-image: url("../assets/headerSlider/5.png");
  }
}

@keyframes animatebg {
  0%, 100% {
    background-image: url("../assets/header-bg.jpg");
  }
  16% {
    background-image: url("../assets/headerSlider/3.png");
  }
  32% {
    background-image: url("../assets/headerSlider/2.png");
  }
  48% {
    background-image: url("../assets/headerSlider/4.png");
  }
  64% {
    background-image: url("../assets/headerSlider/1.png");
  }
  80% {
    background-image: url("../assets/headerSlider/5.png");
  }
}
.header__content {
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  font-family: "Courgette";
  color: white;
}

.inner_cont {
  height: 20rem;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.hed1 {
  padding: 1rem 0rem 0rem 2rem;
}

.hed2 {
  padding: 0rem 0rem 0rem 14rem;
}

.header__fancyline {
  height: 20rem;
  width: auto;
  margin-top: -7rem;
  padding-left: 8rem;
}

.animate {
  font-size: 50px;
}

.header_dec_space {
  padding-left: 13rem;
}

.animate span {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  font-family: "Courgette";
}

.animate span:nth-of-type(2) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.animate span:nth-of-type(3) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.animate span:nth-of-type(4) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.animate span:nth-of-type(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animate span:nth-of-type(6) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.animate span:nth-of-type(7) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.animate span:nth-of-type(8) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.animate span:nth-of-type(9) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animate span:nth-of-type(10) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.animate span:nth-of-type(11) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.animate span:nth-of-type(12) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.animate span:nth-of-type(13) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.animate span:nth-of-type(14) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

.animate span:nth-of-type(15) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.animate span:nth-of-type(16) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.animate span:nth-of-type(17) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.animate span:nth-of-type(18) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

.animate span:nth-of-type(19) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.animate span:nth-of-type(20) {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}

.one span {
  color: #24a8e6;
  opacity: 0;
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
  -webkit-animation: revolveScale 0.4s forwards;
          animation: revolveScale 0.4s forwards;
}

@-webkit-keyframes revolveScale {
  60% {
    transform: translate(20px, 20px) rotate(30deg) scale(0.3);
  }
  100% {
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
  }
}

@keyframes revolveScale {
  60% {
    transform: translate(20px, 20px) rotate(30deg) scale(0.3);
  }
  100% {
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
  }
}
/* Animation Two */
.two span {
  color: white;
  opacity: 0;
  transform: translate(200px, -100px) scale(2);
  -webkit-animation: ballDrop 0.3s forwards;
          animation: ballDrop 0.3s forwards;
}

@-webkit-keyframes ballDrop {
  60% {
    transform: translate(0, 20px) rotate(-180deg) scale(0.5);
  }
  100% {
    transform: translate(0) rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes ballDrop {
  60% {
    transform: translate(0, 20px) rotate(-180deg) scale(0.5);
  }
  100% {
    transform: translate(0) rotate(0deg) scale(1);
    opacity: 1;
  }
}
/* Animation Three */
.three span {
  color: #b10e81;
  opacity: 0;
  transform: translate(-300px, 0) scale(0);
  -webkit-animation: sideSlide 0.5s forwards;
          animation: sideSlide 0.5s forwards;
}

@-webkit-keyframes sideSlide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: #b10e81;
  }
  80% {
    transform: translate(20px, 0) scale(1);
    color: #b10e81;
  }
  99% {
    transform: translate(0) scale(1.2);
    color: #00f0ff;
  }
  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color: #b10e81;
  }
}

@keyframes sideSlide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: #b10e81;
  }
  80% {
    transform: translate(20px, 0) scale(1);
    color: #b10e81;
  }
  99% {
    transform: translate(0) scale(1.2);
    color: #00f0ff;
  }
  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color: #b10e81;
  }
}
/* Animation Four */
.four span {
  color: #8d6a00;
  opacity: 0;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  -webkit-animation: revolveDrop 0.3s forwards;
          animation: revolveDrop 0.3s forwards;
}

@-webkit-keyframes revolveDrop {
  30% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }
  60% {
    transform: translate(0, 20px) scale(0.8) rotate(0deg);
  }
  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes revolveDrop {
  30% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }
  60% {
    transform: translate(0, 20px) scale(0.8) rotate(0deg);
  }
  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}
/* Animation Five */
.five span {
  color: #dd3f0f;
  opacity: 0;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  -webkit-animation: dropVanish 0.5s forwards;
          animation: dropVanish 0.5s forwards;
}

@-webkit-keyframes dropVanish {
  30% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }
  50% {
    transform: translate(0, 20px) scale(0.8) rotate(0deg);
    opacity: 1;
  }
  80% {
    transform: translate(-100px, -100px) scale(1.5) rotate(-180deg);
    opacity: 0;
  }
  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes dropVanish {
  30% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }
  50% {
    transform: translate(0, 20px) scale(0.8) rotate(0deg);
    opacity: 1;
  }
  80% {
    transform: translate(-100px, -100px) scale(1.5) rotate(-180deg);
    opacity: 0;
  }
  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}
/* Animation Six */
.six span {
  color: #ddb40f;
  opacity: 0;
  transform: rotate(-180deg) translate(150px, 0);
  -webkit-animation: twister 0.5s forwards;
          animation: twister 0.5s forwards;
}

@-webkit-keyframes twister {
  10% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translate(0);
    opacity: 1;
  }
}

@keyframes twister {
  10% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translate(0);
    opacity: 1;
  }
}
/* Animation Seven */
.seven span {
  color: white;
  opacity: 0;
  transform: translate(-150px, 0) scale(0.3);
  -webkit-animation: leftRight 1s forwards;
          animation: leftRight 1s forwards;
}

@-webkit-keyframes leftRight {
  40% {
    transform: translate(50px, 0) scale(0.7);
    opacity: 1;
    color: #348c04;
  }
  60% {
    color: #0f40ba;
  }
  80% {
    transform: translate(0) scale(2);
    opacity: 0;
  }
  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

@keyframes leftRight {
  40% {
    transform: translate(50px, 0) scale(0.7);
    opacity: 1;
    color: #348c04;
  }
  60% {
    color: #0f40ba;
  }
  80% {
    transform: translate(0) scale(2);
    opacity: 0;
  }
  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}
@media screen and (min-width: 1920px) {
  .inner_cont {
    position: absolute;
    left: 55%;
    top: 55%;
    transform: translate(-50%, -50%);
  }
}
.testmonial__cont {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner_cont_testimonial {
  width: 50%;
  padding-top: 2%;
}

.testmonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: black;
}

.testimonials__header {
  font-family: "Courgette";
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}

.contact__header {
  font-family: "Courgette";
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
}

.testmonial p {
  margin-top: 1rem;
}

.testmonial__name {
  font-weight: 500;
  color: green;
}

.testmonial .slick-arrow.slick-prev,
.testmonial .slick-arrow.slick-next {
  background: green;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 1rem;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

.about__slider {
  height: 100%;
  width: 80%;
  margin-top: 20%;
  margin-left: 10%;
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.sliderimg_aboutus {
  height: 28rem;
  width: 28rem;
  margin-left: 6%;
  border-radius: 0.5rem;
}

.slider_cont {
  width: 100%;
  display: flex;
}

.forwardarrow {
  background-color: #a3ad6f;
  color: white;
  margin-top: 13rem;
}

.backwardarrow {
  background-color: #a3ad6f;
  padding-left: 0.6rem;
  margin-top: 13rem;
}

.contact__parent {
  height: 80vh;
  width: 100%;
}

.contact__logo {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-color: #a3ad6f;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contact__cont {
  height: 35vh;
  width: 80%;
  margin: 10% 10% 10% 10%;
  background-color: white;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.shape {
  height: inherit;
  width: 33.3%;
  position: relative;
}

.contact_border {
  height: 60%;
  width: 5px;
  border-right: 1px solid black;
  position: absolute;
  top: 20%;
  right: 0;
}

.address__icon {
  font-size: 5rem;
  padding: 1.5rem 0 0 2rem;
  color: white;
}

.address__icon1 {
  font-size: 4.5rem;
  padding: 1.8rem 0 0 1.5rem;
  color: white;
}

.address__icon2 {
  font-size: 4.5rem;
  padding: 1.8rem 0 0 1.8rem;
  color: white;
}

.contact__logo {
  margin: -4rem 0 0 8rem;
}

.Contact__head {
  font-family: "Courgette";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}

.contact_hed1 {
  padding: 2rem 0 1rem 9.5rem;
}

.contact_hed2 {
  padding: 2rem 0 1rem 9.8rem;
}

.contact_hed3 {
  padding: 2rem 0 1rem 7.5rem;
}

.contact_dec {
  padding: 0 0 0 4.5rem;
}

.contact_dec1 {
  padding: 0 0 0 9rem;
}

.contact_dec2 {
  padding: 0 0 0 7.3rem;
}

.footer__parent__cont {
  height: 40vh;
  width: 100%;
}

.footer__logo {
  height: 30vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.footer__logo_image {
  height: 12rem;
  width: 12rem;
  position: absolute;
  top: 0;
  right: 42.8%;
}

.footer__socialmedia {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.sm_footer_shape {
  height: 5rem;
  width: 5rem;
  background-color: white;
  border-radius: 50%;
  transition: 0.6s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.sm_footer_shape:hover {
  transform: scale(1.2);
}

.socialmedia__fotter {
  height: 3rem;
  width: 3rem;
  margin: 1rem 0 0 1rem;
}

.footer_copyrights {
  height: 8vh;
  width: 100%;
  border-top: 1px solid black;
}

.fotter__copyrights__dec {
  text-align: center;
  padding-top: 1rem;
}

.about-content__wrapper--left,
.about-content__wrapper--right {
  height: inherit;
  width: 50%;
}

.gallery-content__wrapper--right,
.gallery-content__wrapper--left {
  height: inherit;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .header__cont {
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .inner_cont {
    width: 100%;
  }
  .animate span {
    font-size: 2rem;
  }
  .header_dec_space {
    padding: 0 0 0 35%;
  }
  .header_dec_space1 {
    padding: 0 0 0 5%;
  }
  .header__fancyline {
    padding: 0 0 0 10%;
  }
  .mian__logo {
    margin: 0;
  }
  .mian__event__detials {
    display: none;
  }
  .main__logo__img {
    margin: 0 0 0 -2.8rem;
  }
  .feature-content__cards {
    flex-direction: column;
  }
  .about-content__wrapper {
    flex-direction: column;
  }
  .about-content__wrapper--left,
.about-content__wrapper--right {
    height: inherit;
    width: 100%;
  }
  .about__slider {
    height: 100%;
    width: 100%;
    margin-bottom: 5rem;
  }
  .sliderimg_aboutus {
    height: 14rem;
    width: 14rem;
    border-radius: 0.5rem;
  }
  .slider_cont {
    width: 83%;
    display: flex;
  }
  .forwardarrow,
.backwardarrow {
    margin-top: 5.5rem;
    font-size: 1.5rem;
  }
  .gallery-content__wrapper--left {
    display: none;
  }
  .gallery-content__wrapper--right,
.gallery-content__wrapper--left {
    height: inherit;
    width: 100%;
    margin: 2rem 0 2rem 2rem;
  }
  .contact__parent {
    height: 60vh;
    width: 100%;
    margin-bottom: 15rem;
  }
  .contact__logo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: #a3ad6f;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .contact__cont {
    height: auto;
    width: 80%;
    margin: 15% 10% 10% 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .shape {
    height: 10rem;
    width: 100%;
    position: relative;
  }
  .contact_border {
    height: 60%;
    width: 5px;
    border-right: 1px solid black;
    position: absolute;
    top: 20%;
    right: 0;
  }
  .address__icon {
    font-size: 3rem;
    padding: 0.5rem 0 0 1rem;
    color: white;
  }
  .address__icon1 {
    font-size: 2.5rem;
    padding: 0.9rem 0 0 0.7rem;
    color: white;
  }
  .address__icon2 {
    font-size: 2.5rem;
    padding: 0.9rem 0 0 0.9rem;
    color: white;
  }
  .Contact__head {
    font-family: "Courgette";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
  }
  .contact_hed1 {
    padding: 0 0 0 2rem;
  }
  .contact_hed2 {
    padding: 0 0 0 2rem;
  }
  .contact_hed3 {
    padding: 0 0 0 2rem;
  }
  .contact_dec {
    padding: 0 0 0 2rem;
  }
  .contact_dec1 {
    padding: 0 0 0 2rem;
  }
  .contact_dec2 {
    padding: 0 0 0 2rem;
  }
  .contact__logo {
    margin: 1rem 0 1rem 2rem;
  }
  .contact_border {
    height: 5px;
    width: 60%;
    border-bottom: 1px solid black;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .form__table {
    text-align: left;
    padding-bottom: 3rem;
    margin-top: 3rem;
    margin-left: 0;
  }
  .footer__logo_image {
    height: 20rem;
    width: 20rem;
    margin: 10% 0 0 11.5%;
    position: absolute;
    top: 0;
    right: 11%;
  }
  .footer__logo {
    height: 40vh;
    width: 100%;
    overflow: hidden;
    margin: 0%;
  }
  .image-row {
    flex-direction: column;
  }
  .image-row .image {
    flex-basis: auto;
  }
  .footer__parent__cont {
    height: 60vh;
    width: 100%;
  }
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 0;
  left: 2%;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  font-size: 2rem;
}

@media only screen and (max-width: 375px) {
  .image-row {
    flex-direction: column;
  }
  .image-row .image {
    flex-basis: auto;
  }
  .header__cont {
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .inner_cont {
    width: 100%;
  }
  .animate span {
    font-size: 1.8rem;
  }
  .header_dec_space {
    padding: 0 0 0 35%;
  }
  .header_dec_space1 {
    padding: 0 0 0 3%;
  }
  .header__fancyline {
    padding: 0 0 0 7%;
  }
  .mian__logo {
    margin: 0;
  }
  .mian__event__detials {
    display: none;
  }
  .main__logo__img {
    margin: 0 0 0 -1.5rem;
  }
  .feature-content__cards {
    flex-direction: column;
  }
  .about-content__wrapper {
    flex-direction: column;
  }
  .about-content__wrapper--left,
.about-content__wrapper--right {
    height: inherit;
    width: 100%;
  }
  .about__slider {
    height: 100%;
    width: 100%;
    margin-bottom: 5rem;
  }
  .sliderimg_aboutus {
    height: 14rem;
    width: 14rem;
    border-radius: 0.5rem;
  }
  .slider_cont {
    width: 86%;
    display: flex;
  }
  .forwardarrow,
.backwardarrow {
    margin-top: 5.5rem;
    font-size: 1.5rem;
    margin-left: -1.5rem;
  }
  .testmonial__cont {
    margin-bottom: 8rem;
  }
  .gallery-content__wrapper--left {
    display: none;
  }
  .gallery-content__wrapper--right,
.gallery-content__wrapper--left {
    height: inherit;
    width: 100%;
    margin: 2rem 0 2rem 2rem;
  }
  .contact__parent {
    height: 60vh;
    width: 100%;
    margin-bottom: 20rem;
  }
  .contact__logo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: #a3ad6f;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .contact__cont {
    height: auto;
    width: 80%;
    margin: 15% 10% 10% 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .shape {
    height: 10rem;
    width: 100%;
    position: relative;
  }
  .contact_border {
    height: 60%;
    width: 5px;
    border-right: 1px solid black;
    position: absolute;
    top: 20%;
    right: 0;
  }
  .address__icon {
    font-size: 3rem;
    padding: 0.5rem 0 0 1rem;
    color: white;
  }
  .address__icon1 {
    font-size: 2.5rem;
    padding: 0.9rem 0 0 0.7rem;
    color: white;
  }
  .address__icon2 {
    font-size: 2.5rem;
    padding: 0.9rem 0 0 0.9rem;
    color: white;
  }
  .Contact__head {
    font-family: "Courgette";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
  }
  .contact_hed1 {
    padding: 0 0 0 2rem;
  }
  .contact_hed2 {
    padding: 0 0 0 2rem;
  }
  .contact_hed3 {
    padding: 0 0 0 2rem;
  }
  .contact_dec {
    padding: 0 0 0 2rem;
  }
  .contact_dec1 {
    padding: 0 0 0 2rem;
  }
  .contact_dec2 {
    padding: 0 0 0 2rem;
  }
  .contact__logo {
    margin: 1rem 0 1rem 2rem;
  }
  .contact_border {
    height: 5px;
    width: 60%;
    border-bottom: 1px solid black;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .footer__logo_image {
    height: 15rem;
    width: 15rem;
    margin: 0% 0 0 18%;
  }
  .footer__logo {
    height: 40vh;
    width: 100%;
    overflow: hidden;
    margin: 0%;
  }
  .about-content__caption {
    font-family: "Courgette";
    font-size: 38px;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
  .about-content__vector-img {
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
  .about-content__description {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #928B84;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .about-content__btn {
    color: white;
    background-color: #a3ad6f;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    transition: transform 0.2s;
    padding: 20px 25px;
    margin-left: 2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 0;
    left: 2%;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .my-float {
    font-size: 2rem;
  }
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  font-size: 2rem;
}

.feature__item__6 {
  background-image: url("../assets/aboutUsSlider/10.JPG");
  background-size: cover;
}

.feature__item__5 {
  background-image: url("../assets/aboutUsSlider/3.png");
  background-size: cover;
}

.feature__item__4 {
  background-image: url("../assets/aboutUsSlider/8.png");
  background-size: cover;
}

@media screen and (min-width: 1900px) {
  .sliderimg_aboutus {
    height: 28rem;
    width: 28rem;
    margin-left: 6%;
    border-radius: 0.5rem;
  }
  .about__slider {
    height: 100%;
    width: 65%;
    margin-top: 20%;
    margin-left: 20%;
    margin-top: 5rem;
    margin-bottom: 6rem;
  }
  .form__table {
    text-align: left;
    padding-bottom: 3rem;
    margin-top: 3rem;
    margin-left: 38%;
  }
  .footer__logo_image {
    height: 12rem;
    width: 12rem;
    position: absolute;
    top: 0;
    right: 44.8%;
  }
}/*# sourceMappingURL=main.css.map */