.feature-content {
  margin-top: 5rem;
  margin-bottom: 5rem;

  &__wrapper {
    text-align: center;
  }

  &__title {
    color: $color-primary-header;
    font-family: "PT Serif";
    font-weight: 500;
    letter-spacing: 2px;
    // text-align: center;
    font-size: 18px;
    padding-bottom: 2rem;
  }

  &__caption {
    font-family: "Courgette";
    font-size: 38px;
    text-align: center;
    padding-bottom: 2rem;
  }

  &__cards {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    
  }

  &__card--caption {
    font-family: "Courgette";
    font-size: 20px;
    text-align: center;
    margin: 2rem;
  }

  &__card--img {
    width: 400px;
    height: 300px;
    position: relative;
    cursor: pointer;
    transition: all .6s;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    
    &:hover {
      transform: scale(1.08);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    & img {
      width: 100%;
      height: 100%;
      // border: 3px solid black;
      
    }

    & .border {
      display: block;
      position: absolute;
      width: 380px;
      height: 280px;
      border: 3px solid white;
      margin: 0.6rem;
      top: 0%;
    }
  }
}
