.form-content {
  background-image: url("../assets/contact_form-bg.jpg");
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;

  &__title {
    color: $color-primary-header;
    font-family: "PT Serif";
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 2rem;
  }

  &__caption {
    font-family: "Courgette";
    font-size: 38px;
    // text-align: center;
    padding-bottom: 2rem;
  }

  &__btn {
    color: white;
    background-color: $color-primary-green;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    padding: 20px 25px;
    cursor: pointer;
  }

  &__wrapper input {
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 1px solid #98928b;
    background-color: transparent;
    margin-right: 2rem;
  }

  &__wrapper textarea {
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 1px solid #98928b;
    background-color: transparent;
    margin-right: 2rem;
  }

  &__wrapper label {
    color: #98928b;
  }
}

.form__table {
  text-align: left;
  padding-bottom: 3rem;
  margin-top: 3rem;
  margin-left: 32.5rem;
}
